@model BussinessObjects.Models.Dtos.ClubDetailsViewDto
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "Details";
	var username = User.FindFirst(ClaimTypes.Name)?.Value;
	string? sessionPicture = HttpContextAccessor.HttpContext.Session.GetString("userPicture") as string;
	var totalPages = Math.Ceiling((double)Model.TotalPosts / Model.PostSize);
}

<link rel="stylesheet" href="~/css/club-details.css">
<section class="banner">
	<div class="container">
		<div class="banner-img d-flex justify-content-center">
			<a href="blog-single.html" class="d-flex justify-content-center">
				<div>
					<img src="~/img/cat/180313215_173099011412441_7795843820371964046_n.jpg" alt="Cover picture" class="img-fluid" style="width: 1000px; height: 500px">
					@* <img src="@Model.Cover" alt="Cover picture" class="img-fluid" style="width: 1000px; height: 500px"> *@
				</div>
			</a>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="banner-content text-center">
					@* <div class="meta-cat"> *@
					@* 	<span class="text-capitalize letter-spacing-1 cat-name font-extra text-color">Travel</span> *@
					@* </div> *@
					<div class="post-title">
						<h2>@Model.ClubName</h2>
					</div>

					@* Statistic here: Member, post, event count*@
					<div class="post-meta footer-meta">
						<ul class="list-inline">
							<li class="post-like list-inline-item">
								<span class="count">197</span> Likes
							</li>
							<li class="post-read list-inline-item">2 mins read</li>
							<li class="post-view list-inline-item">189 Views</li>
						</ul>
					</div>
					<div class="post-content">
						@* <p> *@
						@* 	@Model.Description *@
						@* </p> *@
						<div class="avatar-list">
							@* @foreach (var member in Model.ClubMembers) *@
							@* { *@
							@* 	<div class="avatar"> *@
							@* 		<img src="@(member.ProfilePictureBase64)" alt="@member.Username"> *@
							@* 		<span class="username">@member.Username</span> *@
							@* 	</div> *@
							@* } *@


							@for (int i = 0; i < Model.ClubMembers.Count && i < 10; i++)
							{
								var member = Model.ClubMembers[i];
								<div class="avatar">
									<img src="@(member.ProfilePictureBase64)" alt="@member.Username">
									<span class="username">@member.Username</span>
								</div>
							}

						</div>

						@* <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a> *@
					</div>
				</div>
			</div>
		</div>
	</div>
</section>





<section class="section-padding pt-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

				<article class="post-list mb-5 pb-4 border-bottom">
					<a class="post-thumb mb-3 d-block" href="blog-single.html">
						<img src="~/img/fashion/bg-fashion.jpg" alt="" class="img-fluid w-100">
					</a>
					<div class="meta-cat">
						<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Experience</span>
					</div>
					<h3 class="post-title mt-2"><a href="blog-single.html">A guide to Duxton Hill</a></h3>

					<div class="post-meta footer-meta">
						<ul class="list-inline">
							<li class="post-like list-inline-item">
								<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>2 min read</span>
							</li>
							<li class="post-view list-inline-item letter-spacing-1">189 Views</li>
						</ul>
					</div>
					<div class="post-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto quaerat
							necessitatibus tenetur ratione eius numquam! elit. Earum in doloremque, odit quas repellat voluptatum
							illo nulla ullam sunt, enim animi eaque dolorem possimus saepe! Fuga voluptas sapiente, nemo sit.
						</p>

					</div>
				</article>


				<!-- Post -->
				<div class="p-4 mb-5 shadow">
					<div class="align-items-center flex">

						<img src="@sessionPicture" alt="Profile" class="w-5 h-5 rounded-circle"> 
						<!-- Clickable Textarea (Triggers Modal) -->
						<textarea placeholder="What's on your mind?"
						class="px-4 py-2 ms-4 rounded-full border-0 text-lg"
						data-bs-toggle="modal"
						data-bs-target="#postModal"
						id="post-input"
						readonly></textarea>
					</div>

					<!-- Modal for Creating Post -->
					<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="postModalLabel">Create a Post</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<form asp-action="Create" asp-controller="Posts" id="postForm" method="post" enctype="multipart/form-data">
									<input type="hidden" name="clubId" value="@Model.ClubId" />
									<div class="modal-body">
										<!-- Post Title -->
										<textarea id="postTitle" name="Title" placeholder="Enter title here"
										class="w-100 p-2 rounded border" rows="2" required maxlength="100"></textarea>

										<!-- Post Text -->
										<textarea id="postContent" name="Content" placeholder="What's on your mind?"
										class="w-100 p-2 rounded border" rows="10" required></textarea>

										<!-- Image Upload -->
										<div class="mt-3">
											<label for="postImage" class="form-label">Upload Image</label>
											<input type="file" class="form-control" id="postImage" name="ImageFile" accept=".jpg, .jpeg, .png">
										</div>

										<!-- Image Preview -->
										<div id="imagePreview" class="mt-3 d-none text-center">
											<img id="previewImg" src="#" class="img-fluid rounded" alt="Image Preview">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Post</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				@foreach (var post in Model.Posts)
				{
					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb" asp-action="Details" asp-controller="Posts" asp-route-id="@post.PostId">
									<img src="@post.ImageBase64" id="post-image-index" alt="PostImage" class="img-fluid">
								</a>

							</div>
							
							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">Post</span>
									</div>
									<h3 class="post-title mt-2"><a href="blog-single.html">@post.Title</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase">
													<i class="ti-time mr-2"></i> @post.CreatedAt
												</span>
											</li>
											<li class="post-view list-inline-item letter-spacing-1">@post.CreatedByUsername</li>
										</ul>
									</div>
									<div class="post-content">
										<p>@(post.Content.Length > 50 ? post.Content[..50] + "..." : post.Content)</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				}



				@* <div class="pagination mt-5 pt-4"> *@
				@* 	<ul class="list-inline"> *@
				@* 		<li class="list-inline-item"><a href="#" class="active">1</a></li> *@
				@* 		<li class="list-inline-item"><a href="#">2</a></li> *@
				@* 		<li class="list-inline-item"><a href="#">3</a></li> *@
				@* 		<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li> *@
				@* 	</ul> *@
				@* </div> *@

				<div class="pagination mt-5 pt-4">
					<ul class="list-inline">
					
						@for (var i = 1; i <= totalPages; i++)
						{
							<li class="list-inline-item">
								<a asp-action="Details" asp-route-id="@Model.ClubId" asp-route-pageNumber="@i"
								   asp-route-pageSize="@Model.PostSize" class="@(Model.PostNumber == i ? "active" : "")">@i</a>
							</li>
						}
						
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
				<div class="sidebar sidebar-right">
					<div class="sidebar-wrap mt-5 mt-lg-0">
						<div class="sidebar-widget about mb-5 p-3 text-center">
							<div class="about-author">
								<img src="~/img/author.jpg" alt="" class="img-fluid">
							</div>
							<h4 class="mb-0 mt-4">@Model.ClubName</h4>
							@* <p>Travel Blogger</p> *@
							<p>
								@Model.Description
							</p>
							@* <img src="~/img/liammason.png" alt="" class="img-fluid"> *@
						</div>

						@* <div class="sidebar-widget follow mb-5 text-center"> *@
						@* 	<h4 class="widget-title text-center">Follow Me</h4> *@
						@* 	<div class="follow-socials"> *@
						@* 		<a href="#"><i class="ti-facebook"></i></a> *@
						@* 		<a href="#"><i class="ti-twitter"></i></a> *@
						@* 		<a href="#"><i class="ti-instagram"></i></a> *@
						@* 		<a href="#"><i class="ti-youtube"></i></a> *@
						@* 		<a href="#"><i class="ti-pinterest"></i></a> *@
						@* 	</div> *@
						@* </div> *@

						<div class="sidebar-widget mb-5">
							<h4 class="widget-title text-center">Trending Posts</h4>

							<div class="sidebar-post-item-big">
								<a href="blog-single.html"><img src="~/img/news/img-1.jpg" alt="" class="img-fluid"></a>
								<div class="mt-3 media-body">
									<span class="text-muted letter-spacing text-uppercase font-sm">September 10, 2019</span>
									<h4><a href="blog-single.html">Meeting With Clarissa, Founder Of Purple Conversation App</a></h4>
								</div>
							</div>

							<div class="media border-bottom py-3 sidebar-post-item">
								<a href="#"><img class="mr-4" src="~/img/news/thumb-1.jpg" alt=""></a>
								<div class="media-body">
									<span class="text-muted letter-spacing text-uppercase font-sm">September 10, 2019</span>
									<h4><a href="blog-single.html">Thoughtful living in los Angeles</a></h4>
								</div>
							</div>

							<div class="media py-3 sidebar-post-item">
								<a href="#"><img class="mr-4" src="~/img/news/thumb-2.jpg" alt=""></a>
								<div class="media-body">
									<span class="text-muted letter-spacing text-uppercase font-sm">September 10, 2019</span>
									<h4><a href="blog-single.html">Vivamus molestie gravida turpis.</a></h4>
								</div>
							</div>
						</div>


						<div class="sidebar-widget category mb-5">
							<h4 class="widget-title text-center">Members</h4>
							<ul class="list-unstyled">
								<li class="align-items-center d-flex justify-content-between">
									<a href="#">Innovation</a>
									<span>14</span>
								</li>
								<li class="align-items-center d-flex justify-content-between">
									<a href="#">Software</a>
									<span>2</span>
								</li>
								<li class="align-items-center d-flex justify-content-between">
									<a href="#">Social</a>
									<span>10</span>
								</li>
								<li class="align-items-center d-flex justify-content-between">
									<a href="#">Trends</a>
									<span>5</span>
								</li>
							</ul>
						</div>

						<div class="sidebar-widget subscribe mb-5">
							<h4 class="widget-title text-center">Newsletter</h4>
							<input type="text" class="form-control" placeholder="Email Address">
							<a href="#" class="btn btn-primary d-block mt-3">Sign Up</a>
						</div>

						<div class="sidebar-widget sidebar-adv mb-5">
							<a href="#"><img src="~/img/sidebar-banner3.png" alt="" class="img-fluid w-100"></a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<script>
	document.getElementById('postImage').addEventListener('change', function(event) {
		const file = event.target.files[0];
		if (file) {
			const reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById('previewImg').src = e.target.result;
				document.getElementById('imagePreview').classList.remove('d-none');
			};
			reader.readAsDataURL(file);
		}
	});
</script>