@model BussinessObjects.Models.Dtos.HomeDto
@{
	ViewData["Title"] = "Home Page";
}


	<section class="slider mt-4">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
					@foreach (var post in Model.Posts.Take(7))
					{
						<div class="slider-item">
							<div class="slider-item-content">
								<div class="post-thumb mb-4">
								<a href="/Posts/Details/@post.PostId">
									<img src="@(string.IsNullOrEmpty(post.ImageBase64) ? Url.Content("~/defaultImage.jpg") : post.ImageBase64)"
										alt="Post Image"
										class="img-fluid" style="width: 700px; height: 450px">
									</a>
									</div>

									<div class="slider-post-content">
										<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">@post.Club.ClubName</span>
								<h3 class="post-title mt-1"><a href="/Posts/Details/@post.PostId">@post.Title</a></h3>
										<span class="text-muted text-capitalize">@post.CreatedAt</span>
									</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</section>

	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						@foreach (var club in Model.Clubs.Take(8))
						{
							<div class="col-lg-3 col-md-6">
								<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/Clubs/Details/@club.ClubId">
									<img src="@(string.IsNullOrEmpty(club.LogoBase64) ? Url.Content("~/defaultPicture.jpg") : club.LogoBase64)"
										alt="Club Logo Image" 
										class="img-fluid w-100"
										style="width: 300px; height: 300px">
									</a>
									<span class="cat-name text-color font-extra text-uppercase letter-spacing-1 text-sm">Club</span>
									<h3 class="post-title mt-1"><a href="/Clubs/Details/@club.ClubId">@club.ClubName</a></h3>

									<span class="text-muted letter-spacing text-uppercase font-sm">@club.CreatedAt</span>

								</article>
							</div>
						}
					</div>
				</div>
				
			</div>
		</div>
	</section>


<!-- Popup for successfully message -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var successMessage = '@TempData["SuccessMessage"]';
		if (successMessage) {
			Swal.fire({
				title: "Success!",
				text: successMessage,
				icon: "success",
				confirmButtonText: "OK"
			});
		}
	});
</script>


	